html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: none!important;
}

.st-emotion-cache-1y4p8pa {
    padding-top: 4rem;
}

.stMarkdown p {
    padding: 10px 0;
    font-size: larger;
}

blockquote {
  font-family: 'Montserrat', 'Arial', sans-serif;
  margin-top: 0;
  padding: 0;
  border-left: 0;
}
blockquote p {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #744ce6;
}
blockquote cite {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #aaaaaa;
}

.control-map {
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 5px 20px 10px;
}

.st-emotion-cache-13tdgzb {
  text-align: center;
}
